<h1>Sign up</h1>

<form class="auth-form"
      [formGroup]="regForm"
      (ngSubmit)="onSubmit()">

  <div>
    <label>
      <span>User name</span>
      <input [formControlName]="RegFormControl.username"
             type="text"
             required>
    </label>


    @if (isControlInvalid(RegFormControl.username)) {
      <p>{{ getControlErrorMessage(RegFormControl.username, regForm) }}</p>
    }


  </div>

  <div>
    <label>
      <span>Password</span>
      <input [formControlName]="RegFormControl.password"
             type="password"
             required>
    </label>

    @if (isControlInvalid(RegFormControl.password)) {
      <p>{{ getControlErrorMessage(RegFormControl.password, regForm) }}</p>
    }
  </div>

  <div>
    <label>
      <span>Confirm password</span>
      <input [formControlName]="RegFormControl.confirmPassword"
             type="password"
             required>
    </label>

    @if (isControlInvalid(RegFormControl.confirmPassword)) {
      <p>{{ getControlErrorMessage(RegFormControl.confirmPassword, regForm) }}</p>
    }

  </div>

  @if (regForm.errors?.['matchPasswords']) {
    <p>Passwords don't match</p>
  }

  @if (authError$ | async; as error) {
    <p class="error">{{ error }}</p>
  }

  <button [disabled]="!regForm.valid">Sign up</button>

</form>

<p>Already have an account? <a routerLink="/auth/login">Log in</a></p>

