.currency-converter-form {
  max-width: 480px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.control {
  display: inline-block;
  width: 100%;
}

.btn-hide {
  grid-column: 1/2;
  justify-self: left;
}

.btn-save {
  grid-column: 2/3;
  justify-self: right;
}
