<form class="currency-converter-form"
      [formGroup]="currencyConverterForm">

  <div>
    <label>
      <span>Currency from</span>
      <select [formControlName]="CurrencyConverterFormControl.currency_from">
        <option *ngFor="let cur of curList"
                [value]="cur.id">{{ cur.value }}
        </option>
      </select>
    </label>
  </div>

  <div>
    <label>
      <span>Currency to</span>
      <select [formControlName]="CurrencyConverterFormControl.currency_to">
        <option *ngFor="let cur of curList"
                [value]="cur.id">{{ cur.value }}
        </option>
      </select>
    </label>
  </div>

  <div>
    <label>
      <span>Amount from</span>
      <input [formControlName]="CurrencyConverterFormControl.amount_from" type="number">
    </label>
  </div>

  <div>
    <label>
      <span>Amount to</span>
      <input [formControlName]="CurrencyConverterFormControl.amount_to" type="number">
    </label>
  </div>

  <button [disabled]="!currencyConverterForm.valid"
          type="submit">Save to list
  </button>

</form>
