<form class="currency-converter-form"
      [formGroup]="currencyConverterForm">

  <label class="label">
    <select class="control"
            [formControlName]="CurrencyConverterFormControl.base_currency">
      <option *ngFor="let cur of currencyOptions()"
              [value]="cur.id"
              [disabled]="cur.id === targetCurrency()">
        {{ cur.name }}
      </option>
    </select>
  </label>

  <label class="label">
    <select class="control"
            [formControlName]="CurrencyConverterFormControl.currency">
      <option *ngFor="let cur of currencyOptions()"
              [value]="cur.id"
              [disabled]="cur.id === baseCurrency()">
        {{ cur.name }}
      </option>
    </select>
  </label>

  <label class="label">
    <input class="control"
           [formControlName]="CurrencyConverterFormControl.amount"
           type="number"/>
  </label>

  <label class="label">
    <input class="control"
           [formControlName]="CurrencyConverterFormControl.amountResult"
           type="number"/>
  </label>

  <button class="btn"
          [disabled]="!currencyConverterForm.valid"
          (click)="saveToHistory()"
          type="button">Save to History
  </button>

</form>
