<h1>Log In</h1>

<form *ngIf="{ authError: authError$ | async, isAuthenticated$: isAuthenticated$ | async}"
      class="auth-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

  <div>
    <label>
      <span>User name</span>
      <input [formControlName]="LoginFormControl.username"
             type="text"
             required>
    </label>

    <p *ngIf="isControlInvalid(LoginFormControl.username)">
      {{ getControlErrorMessage(LoginFormControl.username, loginForm) }}
    </p>
  </div>

  <div>
    <label>
      <span>Password</span>
      <input [formControlName]="LoginFormControl.password"
             type="password"
             required>
    </label>

    <p *ngIf="isControlInvalid(LoginFormControl.username)">
      {{ getControlErrorMessage(LoginFormControl.password, loginForm) }}
    </p>
  </div>

  <div *ngIf="authError()">
    <p class="error">{{ authError() }}</p>
  </div>

  <button [disabled]="!loginForm.valid">Log in</button>

</form>

<p>Don't have an account? <a routerLink="/auth/registration">Sign up</a></p>

